
language: java

cache:
  directories:
    - ~/.m2/repository

before_install:
  - gpg --keyserver keyserver.ubuntu.com --recv $DEPLOYMENT_GPG_KEY_NAME
  - gpg --export --armor $DEPLOYMENT_GPG_KEY_NAME | sudo apt-key add - && sudo apt-get update    
  - echo $DEPLOYMENT_GPG_KEY_NAME | base64 --decode | $DEPLOYMENT_GPG_EXECUTABLE --import
#  - echo $GPG_OWNERTRUST | base64 --decode | $DEPLOYMENT_GPG_EXECUTABLE --import-ownertrust

install:
  ./mvnw --settings .mvn.xml install -Dmaven.javadoc.skip=true -B -V

script:
  ./mvnw --settings .mvn.xml clean deploy -Dmaven.javadoc.skip=true -Ppublish -B -U 
  
#before_deploy:
#  - ./mvnw help:evaluate -N -Dexpression=project.version|grep -v '\['
#  - export project_version=$(./mvnw help:evaluate -N -Dexpression=project.version|grep -v '\[')
#
#
#




